body{
    background-color: black;
    color: aliceblue;
}
.centra{
    text-align: center;
    display: contents;
}
.init{
    font-size: 2em;
    display: block;
    font-family: monospace;
    white-space: nowrap;
    width: 62ch;
    border-right:   4px solid ;
    
    animation: typing 25s steps(62), blink .5s infinite step-end alternate;
    overflow: hidden;
}
@keyframes typing{
    from{
        width: 0;
    }
}
@keyframes blink{
    50%{
        border-color: transparent;
    }
}
details{
    font-family: monospace;
    width: 40%;
    font: 400 20px 'Montserrat';
}
details p{
    font-family: monospace;
}
details p a{
    text-decoration: none;
}
details summary{
    cursor: pointer;
    margin: 12px 0;
    font-weight: 600;
    font-family: monospace;
}